<h1>Editing styleguide</h1>

<%= form_for @styleguide, url: styleguide_path(@user), html: { method: :put } do |f|
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', @styleguide %> |
<%= link_to 'Back', @user %>
