<div class="new-guide">
  <a class="btn pull-right" href="/styleguides/new">+ New Styleguide</a>
</div>
<% if @current_user_styleguides == nil %>
<div class="no-guide">
    <img src="http://placehold.it/150x150" />
    <h2>Welcome to Quilt</h2>
    <p>We've prepopulated a few styleguides to give you an idea of what's possible with Quilt. Take a look around or get started by creating <a href="/styleguides/new">a new Style Guide</a></p>
</div>
<% end %>

<% if @current_user_styleguides %>
YOUR STYLEGUIDES!
<div class="guides">
  <%= render(@current_user_styleguides) %>
</div>
<% end %>

<br><br>
<% if @public_styleguides %>
PUBLIC STYLEGUIDES!
<div class="guides">
  <%= render(@public_styleguides) %>
</div>
<% end %>

<br clear="all">

<%= link_to 'New Styleguide', new_styleguide_path %>
