<div class="row">
  <div class="col-sm-6">
    <h2>Styleguides</h2>
  </div>
  <div class="col-sm-6">
    <div class="new-guide">
      <%= link_to raw("<i class='icon icon-plus'></i>  New Styleguide"), new_styleguide_path(@user), :class => "btn pull-right" %>
    </div>
  </div>
</div>

<% if @user.styleguides.count > 0 %>
  <h3>YOUR STYLEGUIDES</h3>
  <div class="guides">
    <%= render(@user.styleguides) %>
  </div>
<% else %>
  <div class="no-guide">
    <i class="icon icon-qlogo"></i>
    <h2>Welcome to Quilt</h2>
    <p>
      Check out the public styleguides and
      <%= link_to 'get started by creating your own!', new_styleguide_path(@user) %>
    </p>
  </div>
<% end %>
<br><br>

<% if @public_styleguides.count > 0 %>
  <h3>PUBLIC STYLEGUIDES</h3>
  <div class="guides">
    <%= render(@public_styleguides) %>
  </div>
<% else %>
  <h3>PUBLIC STYLEGUIDES!</h3>
  No public styleguides found.
<% end %>

<br clear="all">
