<nav class="global">
	<h1>
		<i class="icon icon-qlogo"></i> Quilt
	</h1>
<!-- 	<div class="navbtns">
		<% if user_signed_in? %>
			<%= link_to "My Style Guides", @user._slugs[0], { :class=>"btn" }  %>
		<% else %>
			<%= link_to "Login", new_user_session_path, { :class=>"btn mute" }  %>
			<%= link_to "Sign up", new_user_registration_path, { :class=>"btn" } %>
		<% end %>
	</div>	 -->

	<div class="account">
		<img src="https://0.gravatar.com/avatar/617b2ff79c74484f9ccf0bfc708a4d4c?d=https%3A%2F%2Fidenticons.github.com%2F384b06d890db682156a5779ed82aa985.png&r=x&s=100"/> 
		Eric Toledo
	</div>
</nav>


<div class="hero">
	<h1>Build, Communicate, and Show Off Your Styleguide</h1>
</div>

<div class="marketing">
	<p>This is marketing content down here.</p>
</div>

