/* styleguide styles*/

.new-guide {
    display: table;
    width: 100%;
}
.no-guide {
    background: #f2f2f2;
    margin: 20px 0;
    padding: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.no-guide h2 { text-align: center; }
.no-guide p { text-align: center; }
.no-guide i {
    font-size: 124px;
    color: #fff;
    padding: 50px 0 30px;
    text-align: center;
    display: block;
}

.guides {
    display: table;
    width: 100%;
}

.guides .guide {
    width: 300px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    min-height: 270px;
}
.guides .guide:nth-child(3n + 0) {
    margin-right: -30px;
}
@media (max-width: 992px) {
    .guides .guide { width: 230px; }
}
@media (max-width: 767px) {
    .guides .guide { width: 49%;margin-right: 2%; }
    .guides .guide:nth-child(2n + 0) { margin-right: -2%; }
}
@media (max-width: 767px) {
    .guides .guide { width: 100%; }
}

.guides .guide .area-link:hover .area {
    background-size: 250%;
}

.guides .guide .area-link .area { 
    background-size: 150%;
    background-color: #fff;
    background-position: center;
    height: 210px;
    padding: 70px 0;
    display: block;
    color: #fff;
    font-weight: bold;
    background-repeat: no-repeat;
    -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out; }


/*.styleguide-form .categories .new-category { margin-bottom: 40px; }
.styleguide-form .categories .category { margin-bottom: 10px;
}
.styleguide-form .categories .category .clear {
  float: right;
  color: #fff;
  margin: -28px 10px 0;
  padding: 0px 6px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.styleguide-form .categories .category .clear:hover {
  background: #FF6640;
}*/


