/* Global header */

$nav-color: #eaebec;
$brand-color: #f26522;

nav {
	&.global {
		background:$nav-color;
		height:60px;
		h1 {
			color: #898989;
			font-family: 'bebas_neueregular';
			margin:0;
			padding: 7px 10px 0;
			font-size:28px;
			float:left;
			line-height: 48px;
			i {
				font-size: 44px;
				color:$brand-color;
				float:left;
				margin-right:8px;
			}
		}
		.navbtns {
			float:right;
			padding:12px;
			a {margin-left:10px}
		}
		.account {
			float:right;
			padding:10px 12px;
			img {
				@include border-radius(50%);
				border:solid 2px #fff;
				width: 40px;
				margin-right:5px;
			}
		}
	}
}