/* Global header */

$nav-color: #eaebec;
$brand-color: #f26522;
$header-text: #898989;

nav {
	&.global {
		background:$nav-color;
		color:$header-text;
		height:60px;
		h1 {
			font-family: 'bebas_neueregular';
			margin:0;
			padding: 7px 10px 0;
			font-size:28px;
			float:left;
			line-height: 48px;
			i {
				font-size: 44px;
				color:$brand-color;
				float:left;
				margin-right:8px;
			}
		}
		.navbtns {
			float:right;
			padding:12px;
			a {margin-left:10px}
		}
		ul.mainnav {
			float:left;
			list-style:none;
			margin:0 0 0 100px;
			padding:0;
			font-weight:700;
			li {
				display:inline;
				margin:0;
				a {
					display:inline-block;color:$header-text;
					padding:20px;
					margin:0;
					&:hover {text-decoration:underline;}
					&.active {background:#dadadc}
				}
			}
		}
		.account {
			float:right;
			padding:10px 20px;
			font-weight:700;
			img {
				@include border-radius(50%);
				border:solid 2px #fff;
				width: 40px;
				margin-right:5px;
			}
		}
	}
}