/* Home Classes
-----------------------------------------*/

.hero { border-bottom: 1px solid #333;padding: 220px 0 300px; }
.hero h1 { text-align: center; }
.marketing p { text-align: center;margin-top: 50px; }