/*Quilt icons*/

@charset "UTF-8";

@font-face {
  font-family: "quilt";
  src:asset-url("quilt.eot");
  src:asset-url("quilt.eot?#iefix") format("embedded-opentype"),
    asset-url("quilt.woff") format("woff"),
    asset-url("quilt.ttf") format("truetype"),
    asset-url("quilt.svg#quilt") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "quilt" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "quilt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-component:before {
  content: "c";
}
.icon-settings:before {
  content: "s";
}
.icon-launch:before {
  content: "l";
}
.icon-close:before {
  content: "x";
}
.icon-check:before {
  content: "y";
}
.icon-avatar:before {
  content: "a";
}
.icon-github:before {
  content: "g";
}
.icon-manual:before {
  content: "m";
}
.icon-plus:before {
  content: "+";
}
.icon-qlogo:before {
  content: "q";
}
.icon-delete:before {
  content: "X";
}
.icon-edit:before {
  content: "e";
}
.icon-search:before {
  content: "0";
}