body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 14px; 
}

a { color: #FF6640; }
a:hover { text-decoration: none }
a.muted { color: #ccc; }
a.muted:hover { text-decoration: underline; }

hr { background: #ccc;height: 1px;border: 0; }
.container { width: 960px; }
.element { padding: 40px 0;}

.main {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: -o-transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
.main .left { float: left; }
.main .right { float: right;padding: 15px 20px; }

/*auth*/

.authentication h2 { margin-bottom: 30px; }
.authentication .forgot { margin-top: 32px;float: right; }
.authentication .forgot a { color: #ccc;}
.authentication .forgot a:hover { text-decoration: underline; }
.authentication .btn { width: 100%;padding: 12px;margin: 20px 0; }
.authentication .or { margin: -30px auto 20px;width: 40px;background: #fff;text-align: center; }
.authentication .form-group { margin-bottom: 30px; }
.authentication .links { text-align: center;font-size: 12px; }

/*categories*/

.sug-categories {
  border: 1px solid #f2f2f2;
}
.sug-categories .sug-category {
  border-bottom: 1px solid #f2f2f2;
  padding: 4px 6px;
}
.sug-categories .sug-category:last-child {
  border-bottom: 0;
}
.sug-categories .sug-category .add {
  float: right;
  cursor: pointer;
}

