/* Nav Classes
-----------------------------------------*/
.navbar { width: 100%;min-height: 65px;border-top: 3px solid #F7F7F7;min-height: 75px; }
.navbar .nav { width: 100%; }

.navbar-nav > li { float: none; }
.navbar-nav > li > ul.components { list-style-type: none;padding-left: 40px; }
.navbar-nav > li > ul.components li a.comp-link { color: #f2f2f2;padding: 10px 15px;display: block;border-bottom: 1px solid #444;font-size: 13px; }
.navbar-nav > li > ul.components li a.comp-link:hover { background-color: #444; }
.navbar-nav > li > ul.components li a.edit-link { display: inline-block;margin: -32px 10px 0 0;float: right;color: #f2f2f2; }
.navbar-nav > li > ul.components li a.edit-link:hover { color: #999; }

.navbar-nav > li > a { color: #f2f2f2;font-size: 13px;border-bottom: 1px solid #444; }
.navbar-nav > li > a .icon i { font-size: 16px;margin-right: 8px; }
.navbar-nav > li > a:hover, .nav > li > a:focus { text-decoration: none;background-color: #444; }
.logout { color: #f2f2f2;margin-left: 10px;font-size: 14px; }

/*Nav left*/

ul.siderail {
	margin:0;
	padding:40px 20px;
	list-style-type:none;
	width: 200px;
	height: 100%;
	background: #f1f2f2;
	position: absolute;
	top: 55px;
	bottom: 0;
	left: 0;
	float:left;
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);-moz-transition: -moz-transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);-o-transition: -o-transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);transition: transform 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9); 
	li a {
		color:#888;
		margin-bottom:10px;
		display:block;
		&.active {color:#333}
	}
}

.main.withrail {
	margin-left:200px;
	padding:0 20px;
}

.push-left { 
	.main.withrail {
		margin-left:0
	}
	.siderail {left:-200px;}
}
